#background {
    background: url("../../assets/homeback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:1250px;
    width:100%;
    padding: 80px;
}

#button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #252839;
}

.btn-txt {
    font-size: 22px;
    font-family: Verdana;
}

.welcome-text {
    font-size: 60px;
    font-family: Verdana;
    color: #252839;
}

.yellow-text {
    color: #f2b632;
}

.welcome-subtext {
    font-size: 32px;
    font-family: Verdana;
    color: #252839;
}

.h-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Verdana;
}

#browse-button {
    background-color: #252839;
    color: #b5b5b7;
    border: 2px solid #252839;
}

#register-button {
    background-color: Transparent;
    border: 2px solid #f2b632;
    color: #f2b632;
}

#browse-button:hover {
    background-color: Transparent;
    color: black;
}

#register-button:hover {
    background-color: #f2b632;
    color: black;
}